.searchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.searchBar > form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 100%;
}

.searchBar > form > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

/* Targeta den/de button(s) som är ett direkt child till div som är ett direkt child till form som är ett direkt child till .searchBar */
.searchBar > form > div > button {
  margin-top: 10px;
  background-color: var(--light-grey);
  margin-left: 10px;
  padding-inline: 30px;
  padding-block: 0.4rem;
  border-radius: 30px;
  font-size: 1rem;
}

.searchBar > form > div > select {
  margin-top: 10px;
  padding-inline: 0px;
  padding-block: 10px;
  font-size: 0.8rem;
  border: none;
  background-color: var(--light-grey);
  text-indent: 10px;
  text-overflow: "";
}

.searchBarInput {
  background-color: var(--light-grey);
  padding-inline: 15px;
  padding-block: 10px;
  border-radius: 30px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-size: 1rem;
}
