.searchList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchList > h2 {
  margin-block: 0;
  margin-inline: 0;
  margin-bottom: 10px;
  padding-block: 0;
}

.searchResults {
  --card-width: 180px;
  width: 95vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 2fr));
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
}

.movieCard {
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--card-width);
  height: 300px;
  padding: 0px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px var(--shadow-color);
  overflow: hidden;
}

.movieCard:hover {
  transform: scale(1.05);
  transition: transform .5s;
  border: 1px solid rgba(128, 128, 128, 0.5);
}

.movieCard > div {
  position: relative;
  width: 100%;
  height: 100%;
}

.movieCard h3 {
  width: calc(var(--card-width) - 10px);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 228px;
  left: 0;
  right: 0;
  text-align: center;
  color: var(--white);
  font-size: 0.8rem;
  font-weight: 400;
  height: 100%;
}
.movieCard img {
  position: absolute;
  top: 0;
  height: auto;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px 15px 0px 0px;
  z-index: 0;
}

.imgWrapper {
  position: relative;
  width: var(--card-width);
  top: 0px;
  height: 280px;
  overflow: hidden;
}

/* .movieCard button {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 260px;
  left: 10px;
} */

/* .movieCard button:hover {
  transform: scale(1.1);
  transition: transform .5s;
} */

.p-speeddial {
  position: relative;
  bottom: 5px;
  left: 5px;
}

.p-speeddial-item{
  background: none;
}

.p-speeddial-item > a{
  height: 25px;
  width: 25px;
  background-color: none;
}

.p-toast {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

/* .p-speeddial-button {
  background-color: blue;
  height: 10px;
  width: 10px;
} */

.loadingCircle {
  position: absolute;
  margin-top: 30px;
  width: 30px;
  height: 30px;
  left: 50%;
  top: 30%;
  /* Snurra tills sökresultat */
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
