.searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  border: 1px solid brown;
  width: 1000px;
}

.searchBar > form {
  padding: 10px;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-content: center; */
  width: 500px;
  height: 100%;
  /* border: 1px solid brown; */
}

.searchBar > form > div { 
  /* display: flex; TA EJ BORT
  flex-direction: row; */
  /* align-items: center; */
  /* justify-content: space-between; */
  /* width: 100%;
  height: 100%; */
  /* margin: 30px; */
}

/* Targeta den/de button(s) som är ett direkt child till div som är ett direkt child till form som är ett direkt child till .searchBar */
/* .searchBar > form > div > button {
  margin-top: 10px;
  background-color: var(--light-grey);
  margin-left: 10px;
  padding-inline: 30px;
  padding-block: 0.4rem;
  border-radius: 30px;
  font-size: 1rem;
} */

/* .searchBar > form > div > select {
  margin-top: 10px;
  padding-inline: 0px;
  padding-block: 10px;
  font-size: 0.8rem;
  border: none;
  background-color: var(--light-grey);
  text-indent: 10px;
  text-overflow: "";
}

.searchBarInput {
  background-color: var(--light-grey);
  padding-inline: 15px;
  padding-block: 10px;
  border-radius: 30px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-size: 1rem;
} */


/* CSS for Search field */
.searchinput {
  background-color: rgb(44, 43, 43);
  -webkit-text-fill-color: white;
  /*shadow that make it look like its raised*/
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1), 
  0px 2px 4px rgba(0,0,0,0.5), 
  0px 4px 8px rgba(0,0,0,0.1), 
  0px 8px 16px rgba(0,0,0,0.1);
  border:none;
  width: 350px;
}

.searchinput:hover {
  background-color: rgba(34, 32, 51, 0.616);
}
/* ------------------------- */

/* CSS for Dropdown */

.p-dropdown {
  background-color: rgb(44, 43, 43);
  -webkit-text-fill-color: white;
  /*shadow that make it look like its raised*/
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1), 
  0px 2px 4px rgba(0,0,0,0.5), 
  0px 4px 8px rgba(0,0,0,0.1), 
  0px 8px 16px rgba(0,0,0,0.1);;
  width: 200px;
  /* margin-top: 30px; */
}

.p-dropdown:hover {
  background-color: rgba(34, 32, 51, 0.616);
}

.p-dropdown-trigger:hover {
  background-color: rgba(34, 32, 51, 0.829);
}

.p-clickable:hover {
  transform: scale3d(1.2, 1.2, 1.2);
}

.p-dropdown-items-wrapper {
  background-color: rgb(43, 40, 40);
  border: black;
  width: 200px;
  
}

.p-dropdown-items {
  background-color: red(44, 43, 43);
  border: black;
}
/* .p-dropdown-filter {
  background-color: red;
  border: black;
} */

.p-dropdown-item:hover {
  -webkit-text-fill-color: black;
}

/* ------------------------- */

/* CSS for Search Button */
.p-splitbutton {
  width: 100px;
  height: 44px;
  margin-bottom: 40px;
}

.p-button-label {
  color: white;
}

.p-button-icon {
  color: white;
}

.p-button {
  background-color: rgb(43, 43, 43);
  /* border: white; */
}
/* ------------------------- */





