.searchBar {
  margin-top: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.searchbarandbutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  width: 100%;

}


/* CSS for Search field */
.searchinput {
  background-color: rgb(44, 43, 43);
  -webkit-text-fill-color: white;
  /*shadow that make it look like its raised*/
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1), 
  0px 2px 4px rgba(0,0,0,0.5), 
  0px 4px 8px rgba(0,0,0,0.1), 
  0px 8px 16px rgba(0,0,0,0.1);
  border:none;
  min-width: clamp(200px, 400px, 60vw);
}


/* ------------------------- */

/* CSS for Dropdown */

.p-dropdown {
  background-color: rgb(44, 43, 43);
  -webkit-text-fill-color: white;
  /*shadow that make it look like its raised*/
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.5),
    0px 4px 8px rgba(0, 0, 0, 0.1), 0px 8px 16px rgba(0, 0, 0, 0.1);
  width: 200px;
}

.p-dropdown:hover {
  background-color: var(--input-hover-color);
}

.p-dropdown-trigger:hover {
  background-color: none;
}

.p-clickable:hover {
  transform: scale3d(1.2, 1.2, 1.2);
}

.p-dropdown-items-wrapper {
  background-color: rgb(43, 40, 40);
  border: black;
  width: 200px;
}

.p-dropdown-items {
  background-color: red(44, 43, 43);
  border: black;
}


.p-dropdown-item:hover {
  -webkit-text-fill-color: black;
}

.p-dropdown-item:hover {
  background-color: var(--input-hover-color);
}

.p-dropdown-panel
  .p-dropdown-items
  .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
  color: #495057;
  background: var(--input-hover-color);
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: #495057;
  background: var(--input-hover-color);
}
/* ------------------------- */

/* CSS for Search Button */
.p-splitbutton {
  height: 44px;
  margin-left: 10px;
  background-color: rgb(43, 43, 43);
}

.p-splitbutton:hover {
  background-color: rgba(34, 32, 51, 0.616);
}

.p-splitbutton-defaultbutton:hover {
  transform: scale3d(1.2, 1.2, 1.2);
}

.p-splitbutton-menubutton:hover {
  transform: scale3d(1.2, 1.2, 1.2);
}

.p-button-label {
  color: white;
}

.p-button-icon {
  color: white;
}

.p-button {
  background-color: rgb(43, 43, 43);
}
/* ------------------------- */


.searchinput:hover {
  background-color: rgba(34, 32, 51, 0.616);
}
