
.movieCardList {
    --card-width: 180px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 2fr));
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
  }