/*Todo*/
.userPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }
  
  .userPage > div {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100%;
  }

  .unOwnedService {
    border-radius: 20%;
    border: 2px solid transparent;
    margin-right: 10px;
  }
  

  .ownedService {
    border-radius: 20%;
    border: 2px solid red;
    margin-right: 10px;
  }